
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<form action="../StarWars/GetPersonById" method="post">
    Enter a Number to get a Star Wars character!<input type="number" name="id" value="" />
    <input type="submit" name="submit" />
</form>
<form action="../StarWars/GetPlanetId" method="post">
    Choose a Planet # <input type="number" name="id" value="" />
                      <input type="submit" name="submit" />
</form>
